---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
#print(df.head())
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

# Pandas Introduction
a small example from a web site

### Showing the difference between iloc and loc

Here are the examples

In [2]:
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
                   'B': 'one one two three two two one three'.split(),
                   'C': np.arange(8), 'D': np.arange(8) * 2})
print(df)

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
2  foo    two  2   4
3  bar  three  3   6
4  foo    two  4   8
5  bar    two  5  10
6  foo    one  6  12
7  foo  three  7  14

In [3]:
print(df.loc[df['A'] == 'foo'])

     A      B  C   D
0  foo    one  0   0
2  foo    two  2   4
4  foo    two  4   8
6  foo    one  6  12
7  foo  three  7  14

In [4]:
print(df.loc[df['B'].isin(['one','three'])])

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
3  bar  three  3   6
6  foo    one  6  12
7  foo  three  7  14

In [5]:
df.loc[(df['A'] == 'foo') & (df['B'] == 'one')]
#print(df[df['A'] == 'foo'][df['B'] == 'one'])

     A    B  C   D
0  foo  one  0   0
6  foo  one  6  12

In [6]:
df = df.set_index(['B'])
print(df.loc['one'])

       A  C   D
B
one  foo  0   0
one  bar  1   2
one  foo  6  12

In [7]:
df.loc[df.index.isin(['one','two'])]

       A  C   D
B
one  foo  0   0
one  bar  1   2
two  foo  2   4
two  foo  4   8
two  bar  5  10
one  foo  6  12

In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
#print(df.head())
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()
copy_df = df

## Excellent site for understanding iloc and loc



http://pandas-docs.github.io/pandas-docs-travis/indexing.html#ix-indexer-is-deprecated

In [9]:
print(copy_df.shape)
print(copy_df.head())
some_values =[1,2,3]
is_in_values = copy_df.loc[df['Summer'].isin(some_values)]
is_in_values.head()
print(type(is_in_values))
print(is_in_values.shape)

(146, 16)
             # Summer  Gold  Silver  Bronze  Total  # Winter  Gold.1  \
Afghanistan        13     0       0       2      2         0       0
Algeria            12     5       2       8     15         3       0
Argentina          23    18      24      28     70        18       0
Armenia             5     1       2       9     12         6       0
Australasia         2     3       4       5     12         0       0

             Silver.1  Bronze.1  Total.1  # Games  Gold.2  Silver.2  Bronze.2  \
Afghanistan         0         0        0       13       0         0         2
Algeria             0         0        0       15       5         2         8
Argentina           0         0        0       41      18        24        28
Armenia             0         0        0       11       1         2         9
Australasia         0         0        0        2       3         4         5

             Combined total   ID
Afghanistan               2  AFG
Algeria                  15  ALG
Argentina                70  ARG
Armenia                  12  ARM
Australasia              12  ANZ

KeyError: 'Summer'

### Tabulate Gold Medals in both Summer and Winter Olympics
find all countries with >0 golds in each Olympics, because we are going to find:

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

In [10]:
copy_df = df[(df["Gold"] > 0 )& (df["Gold.1"] > 0)]
copy_df = copy_df[['Gold','Gold.1']]  #take only the gold columns
copy_df["Diff"] = copy_df['Gold'] - copy_df['Gold.1']
copy_df["Sum"] = copy_df['Gold'] + copy_df['Gold.1']
copy_df["Result"]= copy_df["Diff"]/copy_df["Sum"]
print("Leader's Values", '\n'*1 )
print(copy_df.loc[copy_df["Result"] == max(copy_df["Result"])], '\n'*3 )# the entire row is printed

print('Formatting better with rounding Result')
copy_df["Result"]= round(copy_df["Result"], 2)
print(copy_df.loc[copy_df["Result"] == max(copy_df["Result"])], '\n'*3 )# the entire row is printed

print('The index with the max result is: ',copy_df.loc[copy_df["Result"] == max(copy_df["Result"])].index[0])

copy_df["Result"]= round(copy_df["Diff"]/copy_df["Sum"], 2)

print(copy_df.head(), '\n'*4 )
print( '\n'*4 )


copy_df.head()


#max(copy_df["Result"])

Leader's Values

          Gold  Gold.1  Diff  Sum    Result
Bulgaria    51       1    50   52  0.961538



Formatting better with rounding Result
          Gold  Gold.1  Diff  Sum  Result
Bulgaria    51       1    50   52    0.96



The index with the max result is:  Bulgaria
           Gold  Gold.1  Diff  Sum  Result
Australia   139       5   134  144    0.93
Austria      18      59   -41   77   -0.53
Belarus      12       6     6   18    0.33
Belgium      37       1    36   38    0.95
Bulgaria     51       1    50   52    0.96

           Gold  Gold.1  Diff  Sum  Result
Australia   139       5   134  144    0.93
Austria      18      59   -41   77   -0.53
Belarus      12       6     6   18    0.33
Belgium      37       1    36   38    0.95
Bulgaria     51       1    50   52    0.96




**To select rows whose column value equals a scalar, some_value, use ==:**

df.loc[df['column_name'] == some_value]

** To select specific columns**

In [11]:
newdf = df[df.columns[2:4]] 
newdf.head()

             Silver  Bronze
Afghanistan       0       2
Algeria           2       8
Argentina        24      28
Armenia           2       9
Australasia       4       5

In [12]:
some_value = 'Gold'
#a = df.loc[df['Gold'] == some_value]

#a.head()
print(copy_df.shape)
print(copy_df.head())
some_values =['Gold','Silver']
is_in_values = copy_df.loc[df['Gold'].isin(some_values)]
is_in_values.head()
print(type(is_in_values))
print(is_in_values.shape)

(36, 5)
           Gold  Gold.1  Diff  Sum  Result
Australia   139       5   134  144    0.93
Austria      18      59   -41   77   -0.53
Belarus      12       6     6   18    0.33
Belgium      37       1    36   38    0.95
Bulgaria     51       1    50   52    0.96
<class 'pandas.core.frame.DataFrame'>
(0, 5)

**To select rows whose column value is in an iterable, some_values, use isin:**

df.loc[df['column_name'].isin(some_values)]

In [13]:
some_values =['Gold','Silver']
is_in_values = df.loc[df['Gold'].isin(some_values)]
is_in_values.head()

Empty DataFrame
Columns: [# Summer, Gold, Silver, Bronze, Total, # Winter, Gold.1, Silver.1, Bronze.1, Total.1, # Games, Gold.2, Silver.2, Bronze.2, Combined total, ID]
Index: []

**Combine multiple conditions with &:**

df.loc[(df['column_name'] == some_value) & df['other_column'].isin(some_values)]

**To select rows whose column value does not equal some_value, use !=:**

df.loc[df['column_name'] != some_value]

In [14]:
most = max(df["Gold"])
print(df.loc[df["Gold"] == most].index[0], 'had the most gold medals with ')
row_num = df.loc[df["Gold"] == most]

index_value = "Bulgaria"
print(index_value, ' is row ',df.index.get_loc(index_value))

df1 = df[['ID','Gold']]

columns_to_keep = ['ID',
                   'Gold']
#print(df[columns_to_keep]).head()
#print(df.iloc[1]["Gold"])
print(row_num)
#df.iloc[row_num]
#df.loc[df["Gold"] == most]["Gold"]

United States had the most gold medals with
Bulgaria  is row  18
               # Summer  Gold  Silver  Bronze  Total  # Winter  Gold.1  \
United States        26   976     757     666   2399        22      96

               Silver.1  Bronze.1  Total.1  # Games  Gold.2  Silver.2  \
United States       102        84      282       48    1072       859

               Bronze.2  Combined total   ID
United States       750            2681  USA

**If you have multiple values you want to include, put them in a list (or more generally, any iterable) and use isin:**

To show only those countries with 1-3 Gold medals (inclusive)

print(df.loc[df["Gold"].isin([1,2,3])])

In [15]:
Golds_one_two_three = df.loc[df["Gold"].isin([1,2,3])]
print(Golds_one_two_three.head())

             # Summer  Gold  Silver  Bronze  Total  # Winter  Gold.1  \
Armenia             5     1       2       9     12         6       0
Australasia         2     3       4       5     12         0       0
Burundi             5     1       0       0      1         0       0
Cameroon           13     3       1       1      5         1       0
Chile              22     2       7       4     13        16       0

             Silver.1  Bronze.1  Total.1  # Games  Gold.2  Silver.2  Bronze.2  \
Armenia             0         0        0       11       1         2         9
Australasia         0         0        0        2       3         4         5
Burundi             0         0        0        5       1         0         0
Cameroon            0         0        0       14       3         1         1
Chile               0         0        0       38       2         7         4

             Combined total   ID
Armenia                  12  ARM
Australasia              12  ANZ
Burundi                   1  BDI
Cameroon                  5  CMR
Chile                    13  CHI

---
#### Select the Gold and Gold.1 columns from the DataFrame

---

In [16]:
golds = df[['Gold', 'Gold.1']] 
golds.head()

             Gold  Gold.1
Afghanistan     0       0
Algeria         5       0
Argentina      18       0
Armenia         1       0
Australasia     3       0


### what does this do?
df.loc[0, ['ID', 'Gold', 'Silver']]

In [17]:
#gold_and_silver = df.iloc[0, ['ID', 'Gold', 'Silver']]
#gold_and_silver.head()

## Difference between iloc and loc

loc works on labels in the index.

iloc works on the positions in the index (so it only takes integers).

**To get the 0th and the 2nd elements from the index in the ‘Gold’ column.**

In [18]:
df.loc[df.index[[0, 2]], 'Gold']

Afghanistan     0
Argentina      18
Name: Gold, dtype: int64

**This can also be expressed using .iloc, by explicitly getting locations on the indexers, and using positional indexing to select things.**

In [19]:
df.iloc[[0, 2], df.columns.get_loc('Gold')]

Afghanistan     0
Argentina      18
Name: Gold, dtype: int64

**For getting multiple indexers, using .get_indexer**

In [20]:
df.iloc[[0, 2], df.columns.get_indexer(['ID', 'Gold','Silver'])]

              ID  Gold  Silver
Afghanistan  AFG     0       0
Argentina    ARG    18      24

all_gold_silver = df.iloc[:, df.columns.get_indexer(['ID', 'Gold','Silver'])]

In [21]:
all_gold_silver = df.iloc[:, df.columns.get_indexer(['ID', 'Gold','Silver'])]
all_gold_silver.head()

              ID  Gold  Silver
Afghanistan  AFG     0       0
Algeria      ALG     5       2
Argentina    ARG    18      24
Armenia      ARM     1       2
Australasia  ANZ     3       4

In [22]:
df.iloc[2, 6:10]

gold_and_silver = df.iloc[1:6, df.columns.get_loc('ID')]
gold_and_silver.head()

Algeria        ALG
Argentina      ARG
Armenia        ARM
Australasia    ANZ
Australia      AUS
Name: ID, dtype: object

---
### select all columns for rows of index values 0 and 10
**ERROR** df.loc[[0, 10], :]

_need iloc if just referencing by index_

df.iloc[[0, 10], :]

---

In [23]:
df.iloc[[0, 10], :]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR

### This produces an error
df.loc[0, ['Gold', 'Bronze', 'Silver']]

### But this is OK
df.iloc[0:3, 1:8]

In [24]:
df.iloc[0:3, 1:8]

             Gold  Silver  Bronze  Total  # Winter  Gold.1  Silver.1
Afghanistan     0       0       2      2         0       0         0
Algeria         5       2       8     15         3       0         0
Argentina      18      24      28     70        18       0         0

In [25]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [26]:
def answer_one():
    most = max(df["Gold"])
    return df.loc[df["Gold"] == most].index[0]

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [27]:
def answer_two():
    big_diff = max(df["Gold"] - df["Gold.1"])
    return df.loc[(df["Gold"] - df["Gold.1"]) == big_diff].index[0]

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [28]:
def answer_three():
    copy_df = df[(df["Gold"] > 0 )& (df["Gold.1"] > 0)]
    copy_df = copy_df[['Gold','Gold.1']]
    copy_df["Diff"] = copy_df['Gold'] - copy_df['Gold.1']
    copy_df["Sum"] = copy_df['Gold'] + copy_df['Gold.1']
    copy_df["Result"]= copy_df["Diff"]/copy_df["Sum"]
    return copy_df.loc[copy_df["Result"] == max(copy_df["Result"])].index[0]

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [29]:
def answer_four():
    Points= 3*df["Gold.2"] + 2* df["Silver.2"]  + 1* df["Bronze.2"]
    return pd.Series(Points)

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

In [2]:
import pandas as pd
import numpy as np
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

## Census example

Read in csv file above
Find unique state names

In [216]:
copy_census_df = census_df
state_df = pd.DataFrame()
num_counties_df = pd.DataFrame()
num_counties_df['STNAME'] = copy_census_df.STNAME.unique()

#intialise all state county counts to 0
num_counties_df.head()

state_df=census_df[census_df['SUMLEV'] == 50]
num_counties_df.head()

       STNAME
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [217]:
state_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

**Fast way to count unique values**

In [218]:




most_county_df=pd.DataFrame (count_county_df['STNAME'].value_counts())

most_county_df.head()
#count_county_df.head()

          STNAME
Texas        254
Georgia      159
Virginia     133
Kentucky     120
Missouri     115

**Loop way to count unique values**




#state_df.set_index('State',inplace=True)

In [219]:
num_counties_df.set_index('STNAME',inplace=True)
num_counties_df['CountyCnt'] = 0


num_counties_df.tail()

               CountyCnt
STNAME
Virginia               0
Washington             0
West Virginia          0
Wisconsin              0
Wyoming                0

In [220]:
state_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [246]:
print (state_df[state_df.STNAME == 'Texas'].shape[0])

254

In [247]:


for st in num_counties_df.index:
    stcount = (state_df[state_df.STNAME == st].shape[0])
    num_counties_df.loc[st] = stcount
print(num_counties_df['CountyCnt'].idxmax(),' is the STATE with the most counties: ',max(num_counties_df["CountyCnt"])) # find the index

Texas  is the STATE with the most counties:  254


### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [31]:
def answer_five():
    df=census_df[census_df['SUMLEV'] == 50]
    df=pd.DataFrame (df['STNAME'].value_counts())
    return list(df.index)[0]

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [32]:
def answer_six():
    #df = pd.read_csv('census.csv')
    df1=census_df[census_df['SUMLEV'] == 50]
    df1 = df1.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
    df1 = df1.groupby(level=['STNAME']).sum()
    df1=df1.sort_values(ascending=False)
    return list(df1.index[0:3])

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [33]:
def answer_seven():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties

    columns_to_keep = ['CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    df1 = df1[columns_to_keep]

    df1['abs_value'] = abs(df1.max(axis=1)- df1.min(axis=1))
    df1 =  pd.DataFrame(df1[ (df1['abs_value'] == max(df1['abs_value']) )]) #take largest abs change with (df1['abs_value'] == max(df1['abs_value'])
    
    return df1.iloc[0]['CTYNAME']

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [34]:
def answer_eight():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties
    df1["REGION"].unique
    df1 = df1[ (df1['REGION'] == 1)  | (df1['REGION'] == 2)]
    df1 = df1[ df1['POPESTIMATE2015'] > df1['POPESTIMATE2014']]

#df1['CTYNAME_first'] = df1['CTYNAME'].map(lambda x: len(x)) #find length of a field
    len_Washington = len('Washington') #find length of Washington and then see if the first few letters in county name are same

    df1['CTYNAME_first'] = df['CTYNAME'].astype(str).str[0:len_Washington]
    df1 = df1[ df1['CTYNAME_first'] == 'Washington']

    columns_to_keep = ['STNAME', 'CTYNAME']
 
    return df1[columns_to_keep]

In [35]:
def answer_six():
    #df = pd.read_csv('census.csv')
    df1=census_df[census_df['SUMLEV'] == 50]
    df1 = df1.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
    df1 = df1.groupby(level=['STNAME']).sum()
    df1=df1.sort_values(ascending=False)
    return list(df1.index[0:3])

In [36]:
def answer_seven():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties
    columns_to_keep = ['CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    df1 = df1[columns_to_keep]
    df1['abs_value'] = abs(df1.max(axis=1)- df1.min(axis=1))
    df1 =  pd.DataFrame(df1[ (df1['abs_value'] == max(df1['abs_value']) )]) #take largest abs change with (df1['abs_value'] == max(df1['abs_value'])
    
    return df1.iloc[0]['CTYNAME']

In [37]:
def answer_eight():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties
    df1 = df1[ (df1['REGION'] == 1)  | (df1['REGION'] == 2)]
    df1 = df1[ df1['POPESTIMATE2015'] > df1['POPESTIMATE2014']]

#df1['CTYNAME_first'] = df1['CTYNAME'].map(lambda x: len(x)) #find length of a field
    len_Washington = len('Washington') #find length of Washington and then see if the first few letters in county name are same

    df1['CTYNAME_first'] = df1['CTYNAME'].astype(str).str[0:len_Washington]
    df1 = df1[ df1['CTYNAME_first'] == 'Washington']

    columns_to_keep = ['STNAME', 'CTYNAME']
 
    return df1[columns_to_keep]