---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

#  Pandas Introduction

In [71]:
import pandas as pd
import numpy as np


### Showing the difference between iloc and loc

Here are the examples

In [72]:
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
                   'B': 'one one two three two two one three'.split(),
                   'C': np.arange(8), 'D': np.arange(8) * 2})
print(df)

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
2  foo    two  2   4
3  bar  three  3   6
4  foo    two  4   8
5  bar    two  5  10
6  foo    one  6  12
7  foo  three  7  14

In [73]:
print(df.loc[df['A'] == 'foo'])

     A      B  C   D
0  foo    one  0   0
2  foo    two  2   4
4  foo    two  4   8
6  foo    one  6  12
7  foo  three  7  14

In [74]:
print(df.loc[df['B'].isin(['one','three'])])

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
3  bar  three  3   6
6  foo    one  6  12
7  foo  three  7  14

In [75]:
df.loc[(df['A'] == 'foo') & (df['B'] == 'one')]
#print(df[df['A'] == 'foo'][df['B'] == 'one'])

     A    B  C   D
0  foo  one  0   0
6  foo  one  6  12

In [76]:
df = df.set_index(['B'])
print(df.loc['one'])

       A  C   D
B
one  foo  0   0
one  bar  1   2
one  foo  6  12

In [77]:
df.loc[df.index.isin(['one','two'])]

       A  C   D
B
one  foo  0   0
one  bar  1   2
two  foo  2   4
two  foo  4   8
two  bar  5  10
one  foo  6  12

## Excellent site for understanding iloc and loc



http://pandas-docs.github.io/pandas-docs-travis/indexing.html#ix-indexer-is-deprecated




**To select rows whose column value equals a scalar, some_value, use ==:**

df.loc[df['column_name'] == some_value]

** To select specific columns**

**To select rows whose column value is in an iterable, some_values, use isin:**

df.loc[df['column_name'].isin(some_values)]

**Combine multiple conditions with &:**

df.loc[(df['column_name'] == some_value) & df['other_column'].isin(some_values)]

**To select rows whose column value does not equal some_value, use !=:**

df.loc[df['column_name'] != some_value]

most = max(df["Gold"])
print(df.loc[df["Gold"] == most].index[0], 'had the most gold medals with ')
row_num = df.loc[df["Gold"] == most]

index_value = "Bulgaria"
print(index_value, ' is row ',df.index.get_loc(index_value))

df1 = df[['ID','Gold']]

columns_to_keep = ['ID',
                   'Gold']
#print(df[columns_to_keep]).head()
#print(df.iloc[1]["Gold"])
print(row_num)
#df.iloc[row_num]
#df.loc[df["Gold"] == most]["Gold"]

## Difference between iloc and loc

loc works on labels in the index.

iloc works on the positions in the index (so it only takes integers).

**To get the 0th and the 2nd elements from the index in the ‘Gold’ column.**


df.loc[df.index[[0, 2]], 'Gold']

**This can also be expressed using .iloc, by explicitly getting locations on the indexers, and using positional indexing to select things.**


df.iloc[[0, 2], df.columns.get_loc('Gold')]

**For getting multiple indexers, using .get_indexer**

df.iloc[[0, 2], df.columns.get_indexer(['ID', 'Gold','Silver'])]

## Census Data
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

In [78]:
import pandas as pd
import numpy as np
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

## Census example

Read in csv file above
Find unique state names

In [79]:
copy_census_df = census_df
state_df = pd.DataFrame()
num_counties_df = pd.DataFrame()
num_counties_df['STNAME'] = copy_census_df.STNAME.unique()

#intialise all state county counts to 0
num_counties_df.head()

state_df=census_df[census_df['SUMLEV'] == 50]
num_counties_df.head()

       STNAME
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [80]:
num_counties_df.set_index('STNAME',inplace=True)
num_counties_df['CountyCnt'] = 0


num_counties_df.tail()

               CountyCnt
STNAME
Virginia               0
Washington             0
West Virginia          0
Wisconsin              0
Wyoming                0

In [81]:
state_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

**Fast way to count unique values**

In [82]:




most_county_df=pd.DataFrame (state_df['STNAME'].value_counts())

most_county_df.head()

          STNAME
Texas        254
Georgia      159
Virginia     133
Kentucky     120
Missouri     115

In [83]:
print(' The state with the most counties (',most_county_df.values[0][0],') is :',most_county_df.index[0])
print()


#print(type(most_county_df.iloc[0]))

 The state with the most counties ( 254 ) is : Texas

In [84]:
num_counties_df.head()

            CountyCnt
STNAME
Alabama             0
Alaska              0
Arizona             0
Arkansas            0
California          0

**Loop way to count unique values**




#state_df.set_index('State',inplace=True)

In [85]:
print (state_df[state_df.STNAME == 'Texas'].shape[0])

254

In [86]:
num_counties_df.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='STNAME')

In [87]:
for st in num_counties_df.index:
    stcount = (state_df[state_df.STNAME == st].shape[0])
    num_counties_df.loc[st] = stcount
print(num_counties_df['CountyCnt'].idxmax(),' is the STATE with the most counties: ',max(num_counties_df["CountyCnt"])) # find the index

Texas  is the STATE with the most counties:  254


### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [99]:

df=census_df[census_df['SUMLEV'] == 50]
df=pd.DataFrame (df['STNAME'].value_counts())
print(list(df.index)[0])

print(df["STNAME"][0])

Texas
254

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [65]:
def answer_six():
    #df = pd.read_csv('census.csv')
    df1=census_df[census_df['SUMLEV'] == 50]
    df1 = df1.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
    df1 = df1.groupby(level=['STNAME']).sum()
    df1=df1.sort_values(ascending=False)
    return list(df1.index[0:3])

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [66]:
def answer_seven():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties

    columns_to_keep = ['CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    df1 = df1[columns_to_keep]

    df1['abs_value'] = abs(df1.max(axis=1)- df1.min(axis=1))
    df1 =  pd.DataFrame(df1[ (df1['abs_value'] == max(df1['abs_value']) )]) #take largest abs change with (df1['abs_value'] == max(df1['abs_value'])
    
    return df1.iloc[0]['CTYNAME']

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [67]:
def answer_eight():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties
    df1["REGION"].unique
    df1 = df1[ (df1['REGION'] == 1)  | (df1['REGION'] == 2)]
    df1 = df1[ df1['POPESTIMATE2015'] > df1['POPESTIMATE2014']]

#df1['CTYNAME_first'] = df1['CTYNAME'].map(lambda x: len(x)) #find length of a field
    len_Washington = len('Washington') #find length of Washington and then see if the first few letters in county name are same

    df1['CTYNAME_first'] = df['CTYNAME'].astype(str).str[0:len_Washington]
    df1 = df1[ df1['CTYNAME_first'] == 'Washington']

    columns_to_keep = ['STNAME', 'CTYNAME']
 
    return df1[columns_to_keep]

In [68]:
def answer_six():
    #df = pd.read_csv('census.csv')
    df1=census_df[census_df['SUMLEV'] == 50]
    df1 = df1.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
    df1 = df1.groupby(level=['STNAME']).sum()
    df1=df1.sort_values(ascending=False)
    return list(df1.index[0:3])

In [69]:
def answer_seven():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties
    columns_to_keep = ['CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    df1 = df1[columns_to_keep]
    df1['abs_value'] = abs(df1.max(axis=1)- df1.min(axis=1))
    df1 =  pd.DataFrame(df1[ (df1['abs_value'] == max(df1['abs_value']) )]) #take largest abs change with (df1['abs_value'] == max(df1['abs_value'])
    
    return df1.iloc[0]['CTYNAME']

In [70]:
def answer_eight():
    df1=census_df[census_df['SUMLEV'] == 50] #select just those rows that are counties
    df1 = df1[ (df1['REGION'] == 1)  | (df1['REGION'] == 2)]
    df1 = df1[ df1['POPESTIMATE2015'] > df1['POPESTIMATE2014']]

#df1['CTYNAME_first'] = df1['CTYNAME'].map(lambda x: len(x)) #find length of a field
    len_Washington = len('Washington') #find length of Washington and then see if the first few letters in county name are same

    df1['CTYNAME_first'] = df1['CTYNAME'].astype(str).str[0:len_Washington]
    df1 = df1[ df1['CTYNAME_first'] == 'Washington']

    columns_to_keep = ['STNAME', 'CTYNAME']
 
    return df1[columns_to_keep]